'config' : { 'connection' : {  'url': automatizacion 'username': desarrollo 'password': desarrollo } 'mergeFields': [ { 'tableName': student 'fields':
[ { nombre , 'Integer' } , { puntajes , 'Integer' } ] 'attributeNames': [ { name , nombre } , {
nombre , nombre } , { scores , puntajes } , { puntajes , puntajes } ] } , { 'tableName': puntajes 'fields': [ { puntaje ,
'Float' } ] 'attributeNames': [ { puntaje , puntaje } , { score , puntaje } ] }
] }