'config' : { 'connection' : {  'url': b 'username': c 'password': a } 'mergeFields': [ { 'tableName': student 'fields':
[ { nombre , 'Integer' } ] 'attributeNames': [ { name , nombre } , {
nombre , nombre } ] } , { 'tableName': puntaje 'fields': [ { puntaje ,
'Float' } ] 'attributeNames': [ { puntaje , puntaje } , { score , puntaje } ] }
] }